<ul>
    <li>@Html.ActionLink("设备备案管理", "List", "Equipment")</li>
    <li>@Html.ActionLink("备案机构管理", "List", "Company")</li>
    <li>@Html.ActionLink("打印报检表", "Index", "Inspection")</li>
    <li>@Html.ActionLink("报检", "List", "Project")</li>
    <li>@Html.ActionLink("司机管理", "List", "Drivers")</li>
    <li>@Html.ActionLink("安拆人员管理", "List", "Constructor")</li>
    <li>@Html.ActionLink("用户管理", "List", "User")</li>
    <li>@Html.ActionLink("日志查看", "List", "Log")</li>
    <li>@Html.ActionLink("退出登陆", "Logout", "Home")</li>
</ul>
